<div class="hero-wrapper">
  <div class="home-col-wrapper">
    <div class="home-col home-col-1">
      <div class="logo">
        <a href="{{ site.brand_4_url }}"><img src="http://investors.eatgoodfoodgroup.com/img/Eamonns.png" alt="site.brand_4"></a>
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_eamonns %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_eamonns %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_eamonns %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="home-col home-col-2">
      <div class="logo">
        <a href="{{ site.brand_1_url }}"><img src="http://investors.eatgoodfoodgroup.com/img/restaurant-eve.jpg" alt="site.brand_1"></a>
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_eve %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_eve %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_eve %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="home-col home-col-3">
      <div class="logo">
        <a href="{{ site.brand_2_url }}"><img src="http://investors.eatgoodfoodgroup.com/img/society-fair.jpg" alt="site.brand_2"></a>
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_sf %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_sf %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_sf %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="home-col home-col-4">
      <div class="logo">
        <a href="{{ site.brand_3_url }}"><img src="http://investors.eatgoodfoodgroup.com/img/px-blk.png" alt="site.brand_3"></a>
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_px %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_px %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_px %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>